@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{

/*/// Primary //////////////////*/
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/*/// Neutral //////////////////*/
--Very-dark-blue: hsl(217, 54%, 11%);
--Very-dark-blue2: hsl(216, 50%, 16%);
--Very-dark-blue3: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
html{      
      /*Cada 1rem será considerado 10px*/
      font-size: 62.5%;
 }
body{
      background-color: var(--Very-dark-blue);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Outfit', sans-serif;
      font-size: 1.6rem;
}
section.container{
      max-width: 35.5rem;      
      background-color:var(--Very-dark-blue2);
      padding: 2rem;
      border-radius: 1rem;
}
section.container .img{
      display: flex;
      justify-content: center;            
}
section.container .img img{
      width: 100%;
      height: auto;
      border-radius: 1rem;
}
