@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{

/*/// Primary //////////////////*/
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/*/// Neutral //////////////////*/
--Very-dark-blue: hsl(217, 54%, 11%);
--Very-dark-blue2: hsl(216, 50%, 16%);
--Very-dark-blue3: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
body{
      background-color: var(--Very-dark-blue);
}