@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{

/*/// Primary //////////////////*/
--Soft-blue: hsla(215, 52%, 70%, 0.589);
--Cyan: hsl(178, 100%, 50%);

/*/// Neutral //////////////////*/
--Very-dark-blue: hsl(217, 54%, 11%);
--Very-dark-blue2: hsl(216, 50%, 16%);
--Very-dark-blue3: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
html{      
      /*Cada 1rem será considerado 10px*/
      font-size: 62.5%;
 }
body{
      background-color: var(--Very-dark-blue);
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Outfit', sans-serif;
      font-size: 1.6rem;
}
section.container{
      max-width: 35.5rem;      
      background-color:var(--Very-dark-blue2);
      padding: 2rem;
      border-radius: 2rem;
      box-shadow: 0 30px 0 20px rgba(0, 0, 0, 0.096), 0px 30px 0 50px rgba(0, 0, 0, 0.041);
}
section.container .img{
      display: flex;
      justify-content: center;            
}
section.container .img img{
      width: 100%;
      height: auto;
      border-radius: 1rem;
}
.content header{
      margin: 3rem 0 2rem;
}
.content header h1{
      color: var(--White);
      font-size: 2.4rem;      
      font-weight: 600;
}
.content main p{
      color: var(--Soft-blue);
      font-weight: 400;
      font-size: 1.8rem;
}
.content main div{
      display: flex;
      justify-content: space-between;
      padding: 2.5rem 0;
}
.content main div span{
      color:var(--Cyan);
      font-weight: 600;

}
.content main div span + span{
      color:var(--Soft-blue);
      font-weight: 400;
}
.content main div span::before{
      content: url(../images/icon-ethereum.svg);
      position: relative;
      margin-right: 1rem;
      top: 0.3rem;
      
}
.content main div span + span::before{
      content: url(../images/icon-clock.svg);
}
.content hr{
      background-color: var(--Very-dark-blue3);
      width: 100%;
      height: 1px;
      border: none;
}
footer{
      display: flex; 
      align-items: center;
      color: var();
}
footer img{
      width: 4rem;
      height: auto;      
      border: 1px solid white;
      border-radius: 50%;
      margin: 2rem 0;

}
footer address{
      font-style: normal;
      margin-left: 1rem;
      color: var(--Soft-blue);
}
footer address mark {      
      background-color: rgba(255, 255, 255, 0);        
}
footer address a{      
      color: var(--White);
      margin-left: 0.5rem;
      text-decoration: none;
}
